doctype html
html
  head
    title= title
    script(src='/scripts/lib/jquery-1.12.3.min.js')
    script(src='/scripts/lib/require.js', data-main='scripts/app')
    link(rel='stylesheet', href='/css/main.css')
  body
    h1= message
    h2 Choose your colours
    p Click on a bead and then choose a colour from the list
    div(id='colours')
      ul
        for item in colours
          li(style={background: item.value},class=item.name)=item.name
    div(data-module='chooseColours', id='svgWrapper')
      form(id='necklaceORderForm', action='/confirm-order' method='post')
        label(for='firstName') First Name
        input(name='firstName', id='firstName')
        br
        label(for='LastName') Last Name
        input(name='LastName', id='LastName')
        br
        label(for='email') Email
        input(name='email', id='email')
        br
        label(for='address') Address
        textarea(name='address', id='address')
        br
        include ./svg.jade
        p
          button(id='confirmOrder') Order necklace
        p
        p
