doctype html
html
  head
    title= title
    script(src='/scripts/lib/jquery-1.12.3.min.js')
    script(src='/scripts/lib/require.js', data-main='scripts/app')
    link(rel='stylesheet', href='/css/main.css')
  body
    h1= title
    h2= message
    p Click on a bead and then choose a colour from the list
    div(id='colours')
      ul
        for item in colours
          li(style={background: item.value},class=item.value, data-colour=item.name)=item.name
    div(data-module='chooseColours', id='svgWrapper')
      form(id='necklaceOrderForm', action='/confirm-order' method='post')
        label(for='firstName', class='detailsFormField') First Name
        input(name='firstName', id='firstName')
        br
        label(for='lastName', class='detailsFormField') Last Name
        input(name='lastName', id='lastName')
        br
        label(for='email', class='detailsFormField') Email
        input(name='email', id='email')
        br
        label(for='address', class='detailsFormField') Address
        textarea(name='address', id='address')
        br
        include ./svg.jade
        p
          button(id='confirmOrder') Order necklace
        p
        p
