doctype html
html
  include ./head.jade
  body
    nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink
      include ./nav.jade
    .container
      section
        .row
          .col-md-6
            img(src=image)
          .col-md-6.text-center
            h1.section-heading=title
            h2.section-subheading Thank you for your order.
