header(style='background-image:url("/assets/background.jpg")')
  .container
    .intro-text
      .intro-lead-in Welcome To Kodes accessories!
      .intro-heading Order a custom necklace here
      a.page-scroll.btn.btn-xl(href='/choose-colours') Order
