head
  title= title
  script(src='/scripts/lib/jquery-1.12.3.min.js')
  script(src='/scripts/lib/require.js', data-main='scripts/app')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/agency.css')
  link(rel='stylesheet', href='/css/main.css')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='/fonts/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Droid+Serif:  400,700,400italic,700italic', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
