doctype html
html
  head
    title= title
    script(src='/scripts/lib/jquery-1.12.3.min.js')
    script(src='/scripts/lib/require.js', data-main='scripts/app')
    link(rel='stylesheet', href='/css/main.css')
  body
    h1= message
