#necklaceOrderForm svg{
  width:100%;
}
section {
    padding: 100px 0;
}
svg #beads g[id^="_x"]:hover{
  stroke:#e998ea;
  stroke-width:4px;
}
#colours button{
  margin-bottom:5px;
  color:#fff;
  padding:23px 27px;
}
#colours li:first-child button{
  color:black;
}
.modal-dialog input[type=radio]{
  box-shadow:none;
}
